@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');

/*.img-rectangular img {
  width: 200px;
  height: 200px;
}
.img-rectangular:hover img {
  transform-origin: left top;
  animation: scale 2000ms ease-in-out forwards;
}
@keyframes scale {
  to {
    transform: scale(1.2);
  }
}*/

#defaultLayout {
  padding: 10px
}

#defaultLayout .e-panel .e-panel-container .content {
  vertical-align: middle;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 90px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Header-shrink {
    animation: App-logo-shrink 1 1s linear;
  }
}

.Header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-shrink {
  from {
    min-height: 135px
  }
  to {
    min-height: 33px
  }
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear;
}

.alertArea {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.alert {
  overflow: hidden;
  background-color: #333;
  color: #fff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


.leftNav {
  display: flex;
  flex-direction: column;
  height: 200vh;
  width: 270px;
  background-color: #252529;
  color: #fff;
  float: left;
  font-family: 'Open Sans', sans-serif;
}

.leftNav ul {
  display: flex;
  align-items: left;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0px 30px;
}

.leftNav ul div {
  display: inline-block;
}

.leftNav ul li {
  height: 40px;
  width: 100%;
  display: contents;
  text-align: left;
}

.leftNav ul li label {
  display: grid;
}

.leftNav ul li input {
  width: fit-content;
}

.leftNav textarea {
  min-width: 200px;
  min-height: 100px;
}

.leftNav ul li h3 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
  padding: 12px 0px 6px 0px;
  border-bottom: 1px solid whitesmoke
}

.main {
  width: fit-content;
  margin: auto;
}
.main .viewPort {
  display: flex;
}