@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');

@keyframes shadowClick {
  0% {
    filter: drop-shadow(3px 6px 3px #444);
  }
  50% {
    filter: drop-shadow(0px 3px 3px #444);
  }
  100% {
    filter: drop-shadow(3px 6px 3px #444);
  }
}

@keyframes slideInX {
  0% {
    transform: translateX(-166px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-166px);
  }
}

@keyframes slideInXMain {
  0% {
    left: 82px;
  }
  100% {
    left: 250px;
  }
}

@keyframes slideOutXMain {
  0% {
    left: 250px;
  }
  100% {
    left: 82px;
  }
}

@keyframes slideInY {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutY {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.invis {
  display:  none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: 75vh;
  max-height: 80vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#login_form {
	margin-bottom:20px;
}

#login_form  label {
	text-align:left;
	color:#8B8B8B;
	padding:5px 0px;
    float: left;
}

#login_form  input {
	display: block;
    font-family: Roboto Slab,serif;
    font-weight: 400;
    background-color: #111;
    border: 1px solid #424242;
    border-radius: 2px;
    color: #ebebeb;
    font-size: 13px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: .5rem .75rem;
}

#login_form  button {
	margin-left: 25%;
	margin-top:20px;
	float:left;
	background-color: #8B8B8B;
    border: 0;
    color: #fff;
    font-size: 13px;
    line-height: 12px;
    border-radius: 2px;
    padding: .75rem 1.5rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    outline: none;
}

#login_form  button:disabled {
	background-color:#8B8B8B8a;
	color:	white;
}	

.fillSpace h3{
	color:white;
	border-bottom:1px solid white;
	margin: 0px;
    padding: 12px 0px;
    font-size: 32px;
    text-align: left;
	margin-bottom:20px;
}

#loginModal .modalCloseButton{
	background-color:black;
	color:	white;
	padding:8px 20px;
}

#loginModal .modal-main {
	width: 80%;
	max-height: 615px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #191a1c;
	margin: 0 auto;
	margin-top: auto;
	margin-bottom: auto;
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 320px;
	max-width: 900px;
	border: 10px solid #020202;
	padding: 30px 40px;

}

.display-block {
  display: block !important;
}

.display-none {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
}

.bgArea {
  height: 100vh;
  filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#defaultLayout {
  padding: 10px
}

#defaultLayout .e-panel .e-panel-container .content {
  vertical-align: middle;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 90px;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255,255,255,0.2)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Header-shrink {
    animation: App-logo-shrink 1 1s linear;
  }
}

.Header {
  background-color: rgba(245,245,245,0.0);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-shrink {
  from {
    min-height: 135px
  }
  to {
    min-height: 33px
  }
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear;
}

.alertArea {
  margin-bottom: 2px;
}
.alert {
  overflow: hidden;
  background-color: #333;
  color: #fff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.flex-grid {
  display: flex;
}

.edgeCol {
  flex: .5;
}

.midCol {
  flex: 2;
}

input[type=email]:not(:placeholder-shown):invalid {
  color: red
}

.leftNav {
  background-color: #252529d5;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: inherit;
  width: 235px;
  height: 90vh;
}

.leftNav.doScroll ul{
  overflow-y: overlay;
}

.leftNav.doScroll ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.leftNav.doScroll ul::-webkit-scrollbar-thumb {
  background-color: rgba(250,250,250,0.5);
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0,0,0,0.5)
}

@media screen and (max-width: 767px) {
  .leftNav {display: none;}
  .main .viewPort.menuOut, .main .viewPort.menuStart {
    left: 0px !important;
  }
  .rightNav {
    right: 88px !important;
  }
}

.leftNav .menuIcon {
  display: block;
  position: relative;
  left: 181px;
  z-index: 20;
  height: 50px;
}

.leftNav .menuIcon:hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}

.menuStart {
  position: relative;
  left: -166px;
}

.menuIn {
  animation-name: slideInX;
  animation-duration: 0.5s;
  transform: translateX(0);
}

.menuOut {
  animation-name: slideOutX;
  animation-duration: 0.5s;
  transform: translateX(-166px);
}

.leftNav button.logout {
  width: auto;
  padding: 6px 20px 6px 20px;
  margin: 15px 6px 6px 14px;
}

.menuOut ul, .menuStart ul {
  filter: brightness(0.1);
  display: none !important;
}

.leftNav ul {
  text-align: left;
  list-style: none;
  padding: 0px 12px;
  position: fixed;
  left: 0px;
  overflow: auto;
  height: 100%;
}

.leftNav.menuStart ul {
  left: -166px;
  display: none;
}

.leftNav ul .fillSpace {
  width: stretch;
}

.leftNav ul li {
  height: 40px;
  width: 206px;
  display: contents;
  text-align: left;
}

.leftNav ul li div {
  width: inherit;
}

.leftNav ul li label {
  display: inline;
  align-content: center;
}

.leftNav ul li label svg {
  vertical-align: middle;
}

.leftNav input {
  width: stretch;
  padding: 6px;
  margin: 6px;
}

.leftNav ul li form select {
  display: block;
}

.leftNav button {
  width: stretch;
  padding: 6px;
  margin: 6px;
}

.leftNav .saveButton {
  width: auto;
  background-color: white;
}

button[name="send"] {
  position: relative;
  top: 6px;
}
@media only screen and (max-width: 768px) {
  .leftNav ul li input {
    padding: 15px
  }
  button {
    padding: 15px
  }
}

form section span {
  align-items: center;
}

.leftNav textarea {
  min-width: 200px;
  min-height: 100px;
}

.leftNav ul li h3 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
  padding: 12px 0px 6px 0px;
  border-bottom: 1px solid whitesmoke
}

.leftNav ul li h3 svg:hover {
  background-color: rgba(232,234,237,.08)
}

.leftNav .imageContainer img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

.rightNav {
  display: block;
  position: fixed;
  right: 24px;
  width: 24%;
  height: 80vh;
  overflow: hidden;
  /* // eslint-disable-next-line */
  background: linear-gradient(rgba(223,219,192,0.5) 30%, rgba(255,255,255,0)),linear-gradient(rgba(255,255,255,0), rgba(223,219,192,0.5) 70%) 0 100%,
  
  /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
  radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
background:
  /* Shadow covers */
  linear-gradient(rgba(223,219,192,0.5) 30%, rgba(255,255,255,0)),
  linear-gradient(rgba(255,255,255,0), rgba(223,219,192,0.5) 70%) 0 100%,
  
  /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(223,219,192,.8), rgba(110,110,110,0)),
  radial-gradient(farthest-side at 50% 100%, rgba(223,219,192,.8), rgba(110,110,110,0)) 0 100%;
background-repeat: no-repeat;
background-color: rgba(223,219,192,0.6);
background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

/* Opera doesn't support this in the shorthand */
background-attachment: local, local, scroll, scroll;


}

.rightNav.doScroll {
  overflow-y: overlay;
}

.rightNav.doScroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.rightNav.doScroll::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(255,255,255,0.5)
}

@media screen and (max-width: 768px) {
  .flex-grid {
    display: block;
  }
  .exits {
    position: relative !important;
  }
}

span.attribution {
  display: grid;
  font-size: .5em;
}

div.searchImage {
  float:left;
  width: 200px;
  text-align: center;
  border: 1px solid black;
  margin: 0px 2px 0px 2px;
}

#searchResult {
  max-height: 100px;
  overflow: auto;
  margin-top: 4px;
  text-align: left;
}

#searchResult > div {
  border-bottom: 1px dashed #543f3b;
  color: #543f3b;
}

div.imageList {
  display: flex;
  overflow: auto;
}

.main {
  width: auto;
}

.main .CliInput {
  display: flex;
  position: fixed;
  bottom: 2px;
  z-index: 10;
}
.main input {
  width: 60vw;
  padding: 6px;
  margin: 6px;
}

.main input[type='checkbox'] {
  width: auto;
}
form#Cli {
  width: stretch;
}
.main .viewPort p {
  overflow-wrap: break-word;
}

.main .viewPort {
  display: flex;
  width: 680px;
  text-align: left;
  height: 67vh;
  padding-left: 10px;
  line-height: 1.8em;
  font-size: 18px;
  font-weight: 100;
  position: fixed;
  overflow: auto;
  background-color: rgba(223,219,192,0.9);
  color: #3B2322;
}

/*.main .viewPort .place {
  /*mask-image: linear-gradient(to bottom, rgb(223,219,192) 80%, transparent 100%);
}*/



.main .viewPort.doScroll {
  overflow-y: overlay;
}

.main .viewPort.doScroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.main .viewPort.doScroll::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(250,250,250,0.5)
}

.main .viewPort .editButton {
  vertical-align: middle;
}

.main .viewPort.menuIn {
  transform: none;
  animation-name: slideInXMain;
  animation-duration: 0.5s;
  left: 250px;
}

.main .viewPort.menuOut {
  width: 824px;
  transform: none;
  left: 82px;
  animation-name: slideOutXMain;
  animation-duration: 0.5s;
}

.main .viewPort.menuStart {
  width: 824px;
  left: 82px;
  transform: none;
}

.resultsWindow {
  width: 832px;
  height: 8em;
  overflow: auto;
  margin-left: -174px;
  position: relative;
  top: 2px;
  left: 164px;
  text-align: left;
  border: 1px solid #ccc;
  background-color: rgba(223,219,192,0.8);
  /*mask-image: linear-gradient(to top, rgb(223,219,192) 80%, transparent 100%);*/
  /*background:   linear-gradient(rgba(223,219,192,0.5) 30%, rgba(255,255,255,0)),
  linear-gradient(rgba(255,255,255,0), rgba(223,219,192,0.0) 70%) 0 10%,*/
}

.resultsWindow.doScroll {
  overflow-y: overlay;
}

.resultsWindow.doScroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.resultsWindow.doScroll::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(250,250,250,0.5)
}

@media screen and (max-height: 600px) {
  .resultsWindow {
    height: 5em;
  }
}

@media screen and (max-height: 600px) {
  .resultsWindow {
    height: 4em;
  }
}
@media screen and (min-width: 1237px) {
  .main .viewPort.menuOut, .main .viewPort.menuStart {
    width: 67vw;
  }

  .resultsWindow {
    width: 67.5vw;
  }
}
@media screen and (max-width: 1236px) {
  .main .viewPort.menuOut, .main .viewPort.menuStart {
    width: 774px;
  }

  .resultsWindow {
    width: 782px;
  }
}

@media screen and (max-width: 1172px) {
  .main .viewPort.menuOut, .main .viewPort.menuStart {
    width: 724px;
  }

  .resultsWindow {
    width: 732px;
  }
}

@media screen and (max-width: 1106px) {
  .main .viewPort.menuOut, .main .viewPort.menuStart {
    width: 674px;
  }

  .resultsWindow {
    width: 682px;
  }
}

@media screen and (max-width: 1040px) {
  .main .viewPort.menuOut, .main .viewPort.menuStart {
    width: 624px;
  }

  .resultsWindow {
    width: 632px;
  }
}

@media screen and (max-width: 974px) {
  .rightNav {
    display: none;
  }
}

.main .viewPort span.imageContainer {
  text-align: center;
  margin: auto 4px;
  align-content: center;
  float: left;
  margin-right: 8px;
}

@media screen and (max-width: 635px) {
  .imageContainer {
    display: none;
  }
}

.main .viewPort span.imageContainer img {
  height: fit-content;
  width: 300px;
  height: 300px;
  object-fit: contain;
  filter: drop-shadow(3px 6px 3px #444);
  vertical-align: middle;
}

.main .viewPort span.imageContainer img.object {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.rightNav span.imageContainer {
  text-align: center;
  margin: auto 4px;
  align-content: center;
  display: block;
  font-weight: 500;
  margin-top: 2px;
}

.rightNav span.imageContainer img {
  height: fit-content;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  object-fit: cover;
  filter: drop-shadow(3px 6px 3px #444);
}

.rightNav span.imageContainer img.clicked {
  animation: shadowClick 0.15s ease-out;
}

.main .CliInput.menuIn {
  transform: none;
  animation-name: slideInXMain;
  animation-duration: 0.5s;
}
.main .CliInput.menuOut, .main .CliInput.menuStart {
  transform: none;
  left: 88px;
  width: 75vw;
  animation-name: slideOutXMain;
  animation-duration: 0.5s;
}
.clickable:hover {
  cursor: pointer;
}

span.clickable:hover {
  border-bottom: 1px dashed grey;
}
.clickable svg {
  vertical-align: middle;
}

section.inputText {
  position: relative;
  left: -16px;
}
.resultsWindow p {
  line-height: 0.5em;
}
.menuIn .resultsWindow {
  width: 688px;
}
.resultsWindow span {
  overflow-wrap: break-word;
}
.exits {
  position: relative;
}

.population {
  height: 128px;
}

.population .alone {
  text-align: center;
  margin-top: 25px;
}

.inventory {
  padding-top: 20px;
}

.exits ul, .inventory ul, .population ul {
  list-style: none;
  text-align: left;
  width: auto;
  padding-left: 0px;
}

.exits ul li, .inventory ul li , .population ul li {
  margin-bottom: 6px;
  display: inline-block;
}

#tooltip
{
  position: absolute;
  left: 50px; top: 50px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  
  display: inline-block;
}

#tooltip.right
{
  margin-left: 5px;
}

#tooltip.left
{
  margin-left: -5px;
}

#tooltip.top
{
  margin-top: -5px;
}

#tooltip.bottom
{
  margin-top: 5px;
}

#tooltip .tooltip-arrow
{
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

#tooltip.right .tooltip-arrow
{
  top: 50%;
  left: auto;
  margin-left: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}



#tooltip.top .tooltip-arrow
{
  top: auto;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

#tooltip.left .tooltip-arrow
{
  top: 50%;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
  right: -5px;
  left: auto;
}

#tooltip.bottom .tooltip-arrow
{
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

#tooltip .tooltip-arrow
{
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-right-color: transparent;
  border-style: solid;
}

#tooltip .tooltip-inner
{
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

#tooltip.on
{
  display: block;
}

#tooltip.off
{
  display: none;
}

.container {
  padding: 5rem 5%;
  text-align: center;
  @media (min-width: 576px) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (min-width: 768px) {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  @media (min-width: 992px) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.title {
  margin: 0 0 0.75rem;
}

.subtitle {
  margin: 0 0 2.5rem;
}

.btn {
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  border-color: #6c757d;
  border-radius: 0.25rem;
  line-height: 1.5;
  color: #fff;
  background: #6c757d;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  border-color: #545b62;
  background: #5a6268;
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.modalDialog {
  animation: slideIn 0.3s ease-out;
}

.modalFadeout .modalDialog {animation-name: slideOut;}
.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s linear;
}

.modalFadeOut {
  animation-name: fadeOut;
}



.modalContent {
  margin: 1.75rem auto;
  width: 90%;
  max-width: 500px;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.modalTitle {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

.modalClose {
  margin: -1rem -1rem -1rem;
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  background: inherit;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  cursor: pointer;
}

.modalClose:hover {
  opacity: 0.75;
}

.modalBody {
  padding: 1rem;
}

.ant-popover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
  font-weight: normal;
  white-space: normal;
  text-align: left;
  cursor: auto;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.ant-popover::after {
  position: absolute;
  background: rgba(255, 255, 255, 0.01);
  content: '';
}
.ant-popover-hidden {
  display: none;
}
.ant-popover-placement-top,
.ant-popover-placement-topLeft,
.ant-popover-placement-topRight {
  padding-bottom: 10px;
}
.ant-popover-placement-right,
.ant-popover-placement-rightTop,
.ant-popover-placement-rightBottom {
  padding-left: 10px;
}
.ant-popover-placement-bottom,
.ant-popover-placement-bottomLeft,
.ant-popover-placement-bottomRight {
  padding-top: 10px;
}
.ant-popover-placement-left,
.ant-popover-placement-leftTop,
.ant-popover-placement-leftBottom {
  padding-right: 10px;
}
.ant-popover-inner {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ant-popover {
    /* IE10+ */
    margin: 0;
  }
  .ant-popover-inner {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}
.ant-popover-title {
  min-width: min-content;
  min-height: 32px;
  margin: 0;
  padding: 5px 16px 4px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
}
.ant-popover-inner-content {
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.65);
}
.ant-popover-message {
  position: relative;
  padding: 4px 0 12px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}
.ant-popover-message > .anticon {
  position: absolute;
  top: 8px;
  color: #faad14;
  font-size: 14px;
}
.ant-popover-message-title {
  padding-left: 22px;
}
.ant-popover-buttons {
  margin-bottom: 4px;
  text-align: right;
}
.ant-popover-buttons button {
  margin-left: 8px;
}
.ant-popover-arrow {
  position: absolute;
  display: block;
  width: 8.48528137px;
  height: 8.48528137px;
  background: transparent;
  border-style: solid;
  border-width: 4.24264069px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  bottom: 6.2px;
  border-top-color: transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: transparent;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
}
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow {
  left: 16px;
}
.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  right: 16px;
}
.ant-popover-placement-right > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-rightTop > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-rightBottom > .ant-popover-content > .ant-popover-arrow {
  left: 6px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  -webkit-box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
          box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.07);
}
.ant-popover-placement-right > .ant-popover-content > .ant-popover-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.ant-popover-placement-rightTop > .ant-popover-content > .ant-popover-arrow {
  top: 12px;
}
.ant-popover-placement-rightBottom > .ant-popover-content > .ant-popover-arrow {
  bottom: 12px;
}
.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  top: 6px;
  border-top-color: #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #fff;
  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
          box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
}
.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.ant-popover-placement-bottomLeft > .ant-popover-content > .ant-popover-arrow {
  left: 16px;
}
.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  right: 16px;
}
.ant-popover-placement-left > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-leftTop > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-leftBottom > .ant-popover-content > .ant-popover-arrow {
  right: 6px;
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 3px -3px 7px rgba(0, 0, 0, 0.07);
}
.ant-popover-placement-left > .ant-popover-content > .ant-popover-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.ant-popover-placement-leftTop > .ant-popover-content > .ant-popover-arrow {
  top: 12px;
}
.ant-popover-placement-leftBottom > .ant-popover-content > .ant-popover-arrow {
  bottom: 12px;
}

.keyword {
  display: inline;
  font-style: italic;
  text-decoration: #777 underline;
}

.imageContainer .iconInset {
  position: relative;
  right: 24px;
}

.viewPort.menuOut > div, .viewPort.menuStart > div {
  width: stretch;
}

.viewPort .imageContainer .iconInset {
  top: -30px;
}

.viewPort form.editorForm {
  width: 65vw;
  margin-bottom: 25px;
}
.viewPort .editorInput {
  width: 75%;
  display: block;
}
.viewPort label {
  display: block;
}

.viewPort label.checkBox {
  display: inline;
}

.viewPort .placeDescription {
  width: 75%;
  height: 20vh;
}

.audioContainer .iconInset {
  position: relative;
  left: 200px;
  top: -22px;
}

.iconInset svg {
  opacity: 0.5;
}

.iconInset svg:hover {
  opacity: 1.0
}

.imageList .iconLeft {
  position: fixed;
  top: 420px;
}

.imageList .iconRight {
  position: fixed;
  top: 420px;
  right: 4px;
}

.imageList img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.tabMenu {
  width: stretch;
  height: 62px;
  background-color: #bbb;
}

.tabMenu .tab {
  width: 50%;
  background-color: #cccccc;
  border-right: 1px solid black;
  border-bottom: 1px solid grey;
  margin-left: 5px;
  padding: 15px;
  position: relative;
  top: 20px;
}

.tabMenu .tab:hover {
  background-color: #aaa;
}

.tabMenu .tab.selected {
  background-color: #fff;
}

ul.audioList {
  width: min-content;
  max-width: 400px;
  display: inline-grid;
  list-style: none;
  position: relative;
  top: -70px;
  left: -16px;
  overflow: auto;
  height: 50vh;
}

li.searchAudio {
  text-align: left;
  margin-top: 5px;
}

li.searchAudioEmpty {
  text-align: left;
  margin-top: 65px;
}

#audioModal .modalCloseButton {
  position: relative;
  top: -70px;
}

#freesound {
  position: relative;
  top: -70px;
}

.commandArrow {
  display: inline;
  vertical-align: middle;
}






form#ObjectCreatorForm, .formBottom {
  background: #ccc;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  overflow: auto;
}

form#ObjectCreatorForm textarea {
  width: 40vw;
  height: 10vh;
}

form#ObjectCreatorForm .column, .formBottom .column {
  flex-grow: 1;
  width: 32%;
  min-height: 50px;
  display: inline-flex;
  vertical-align: middle;
}

form#ObjectCreatorForm .doubleColumn, .formBottom .doubleColumn {
  flex-grow: 2;
  width: 65%;
  min-height: 50px;
  display: inline-flex;
  vertical-align: middle;
}

form#ObjectCreatorForm .addInput, .formBottom .addInput {
  width: 24px;
  height: 24px;
}

form#ObjectCreatorForm .row, .formBottom .row{
  display: block;
  width: 80vw;
  border-bottom: 1px dashed grey;
  padding: 2px;
}

form#ObjectCreatorForm .inputLabel, .formBottom .inputLabel {
  display: block;
}

form#ObjectCreatorForm .columnContent, .formBottom .columnContent {
  display: block;
}

form#ObjectCreatorForm .columnContent img,
form#ObjectCreatorForm .columnContent svg,
.formBottom .columnContent img,
.formBottom .columnContent svg {
  vertical-align: middle;
}

.cliPlayButton {
  float: right;
  margin-left: 2px;
  margin-top: 5px;
}

.cliAudioSearch {
  float: right;
  margin-left: 2px;
  margin-top: 6px;
}

.inlineAudio {
  display: inline-flex;
  vertical-align: middle;
  height: 24px;
  margin-bottom: 4px;
}
#imgPopOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.705);
}

.popOver {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.popOver img {
  width: 700px;
}

.vitals {
  text-align: left;
}

.vitals label {
  display: block;
}

form#npcForm {
  max-width: 95%;
  max-height: 50vh;
  overflow: auto;
  margin: auto;
}

#npcForm .row {
  display: flex;
  margin: auto;
}

.formBottom .row {
  flex-grow: 1 !important;
  display: block !important;
}

#npcForm .column {
  flex: 50%;
}

#npcForm input[type='checkbox'] {
  display: inline !important;
}

#npcForm .checkBox {
  display: block;
}
#npcForm .checkBox label, .checkBox input[type='checkbox']{
  display: inline;
}

.columnThird {
  flex: 33%;
}

.vitals .right {
  display: inline;
  text-align: left;
}

.vitals .left {
  display: inline;
  text-align: right;
}

.slideItem {
  display:flex;
  margin-bottom: 3px;
}

.column select {
  margin-top: 3px;
}

img.imageSearch {
  vertical-align: middle;
}

.inventoryListItem {
  border-bottom: 1px dashed #543f3b;
  color: #543f3b;
  text-align: left;
  margin-top: 4px;
}

.inventoryListItem img {
  vertical-align: middle;
}

label.heading {
  border-bottom: 1px dotted black;
}

label img {
  vertical-align: middle;
}

button.chatModeOn {
  background-color: lightseagreen;
}

span.getObject {
  width: 24px;
  filter: drop-shadow(2px 6px 2px black);
  position: relative;
  left: -186px;
  top: 2px;
  z-index: 50;
}

span.dropObject {
  width: 24px;
  filter: drop-shadow(2px 6px 2px black);
  position: relative;
  left: 4px;
  top: -100px;
  z-index: 50;
}
.hoverMe:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.getObject img, .dropObject img, .dropObject svg {
  width: 32px !important;
  height: 32px !important;
}

.brightFilter {
  filter: brightness(1.2)
}

.horizontalContainer {
  display: inline-block;
}

.objectPalette button {
  width: min-content;
  display: inline-block;
  background: rgba(250,250,250,0.5);
  padding: 1px;
  margin: 1px;
}

.objectPalette button:hover {
  background: rgba(250,250,250,0.8);
}